
<section id="templatemo_features">
    <div class="container-fluid">
        <header class="template_header">
            <h2 class="text-center"><span>...</span> Choose which email account to use to send your message  <span>...</span></h2>
        </header>
        <div class="col-sm-12">
            <div class="col-sm-6 col-lg-6 feature-box" ng-click="vm.initFacebookLogIn()">
                <div class="feature-box-inner">
                    <div class="feature-box-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 feature-box" ng-click="vm.initGoogleLogIn()">
                <div class="feature-box-inner">
                    <div class="feature-box-icon">
                        <i class="fa fa-google-plus-square fa-lg"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
